ejercicios 1-5/n8n_ejercicio5.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "6c45f32e-e50f-4849-b43b-3f6c6a5234b5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "={{ $json.results[0].latitude }}"
            },
            {
              "name": "longitude",
              "value": "={{ $json.results[0].longitude }}"
            },
            {
              "name": "current_weather",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        0
      ],
      "id": "21827fb0-2c71-4141-b649-d3bcfa574b7f",
      "name": "Consultar Clima"
    },
    {
      "parameters": {
        "url": "https://geocoding-api.open-meteo.com/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.Ciudad }}"
            },
            {
              "name": "count",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        384,
        0
      ],
      "id": "e98c20b2-4ff1-4329-a90e-d0fe2ef22600",
      "name": "Buscar coordenadas"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1pGQ9xTkFbJAm9xmC9tGaxDGBFfABLkPbvibTkvlz7VU"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pGQ9xTkFbJAm9xmC9tGaxDGBFfABLkPbvibTkvlz7VU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Temperatura": "={{ $('Consultar Clima').item.json.current_weather.temperature }} {{ $('Consultar Clima').item.json.current_weather_units.temperature }}",
            "Clima": "={{ $json.readable_weather }}",
            "Ciudad": "={{ $('Buscar coordenadas').item.json.results[0].name }}",
            "Nombre": "={{ $('Set data').item.json.Nombre }}",
            "Fecha": "={{$now.setZone(\"America/Bogota\").toFormat(\"yyyy-LL-dd HH:mm:ss\")}}"
          },
          "matchingColumns": [
            "Fecha"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Temperatura",
              "displayName": "Temperatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clima",
              "displayName": "Clima",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        0
      ],
      "id": "1809cffb-9ffb-4a1c-a1e4-d93cb0e6a4ab",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QKcWZPgN4uptLN2V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36b0045e-92f3-4e57-a780-5614f9237e3d",
              "name": "readable_weather",
              "value": "={{ ({ 0: 'Despejado', 1: 'Principalmente despejado', 2: 'Parcialmente nublado', 3: 'Nublado', 45: 'Niebla', 48: 'Niebla con escarcha', 51: 'Llovizna', 61: 'Lluvia ligera', 63: 'Lluvia moderada', 80: 'Chubascos' })[$json.current_weather.weathercode] \n'Condición mixta' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        0
      ],
      "id": "8c09fcf3-92c3-4cc1-a383-6ffd24acef29",
      "name": "Readable weather"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05c6abb5-7d48-430f-8a09-43362c270af2",
              "name": "Nombre",
              "value": "Oswald",
              "type": "string"
            },
            {
              "id": "4e40675a-7943-4802-a16f-ed9c89b305a8",
              "name": "Ciudad",
              "value": "Bucaramanga",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        0
      ],
      "id": "355bd770-4ba1-46a0-9a10-4551842c179f",
      "name": "Set data"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Clima": {
      "main": [
        [
          {
            "node": "Readable weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar coordenadas": {
      "main": [
        [
          {
            "node": "Consultar Clima",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Readable weather": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data": {
      "main": [
        [
          {
            "node": "Buscar coordenadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "acd9990a387a66c572994987ae101756c687c692ab41f4eda3f4b6b5a1a3091c"
  }
}