ejercicios 11-15/n8n_ejercicio13.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        0
      ],
      "id": "744fa1df-2ca3-46d6-8d96-2e7037b90ace",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://gnews.io/api/v4/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "acapulco"
            },
            {
              "name": "lang",
              "value": "es"
            },
            {
              "name": "max",
              "value": "3"
            },
            {
              "name": "apikey",
              "value": "1b0eab859e55b5d4b0f70e0163921b51"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        0
      ],
      "id": "86bbee4a-f17f-4b8e-bd42-553435db7d64",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "004ba907-6b5a-4537-a18c-93dd5fb96d8f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Responde ÚNICAMENTE con un JSON válido, sin texto adicional:\n\n{\n  \"sentimiento\": \"POSITIVO | NEGATIVO | NEUTRO\"\n}\n\nTexto:\n{{$json.title}} {{$json.description}}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        656,
        0
      ],
      "id": "6ca4f157-1812-4262-afd5-dc236ed5b85e",
      "name": "Basic LLM Chain",
      "retryOnFail": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        160
      ],
      "id": "7dad5445-8190-421d-b839-1c0bf3a0243a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "R0aALtQyePJsYbD9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e966224-7544-40eb-a429-d5d3c9e0053d",
              "name": "sentimiento",
              "value": "={{ JSON.parse($json.text).sentimiento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        0
      ],
      "id": "e2da1af9-c867-48d1-8821-bfa845535005",
      "name": "Parsing"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "acd9990a387a66c572994987ae101756c687c692ab41f4eda3f4b6b5a1a3091c"
  }
}