ejercicios 11-15/n8n_ejercicio14.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        0
      ],
      "id": "744fa1df-2ca3-46d6-8d96-2e7037b90ace",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://gnews.io/api/v4/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "acapulco"
            },
            {
              "name": "lang",
              "value": "es"
            },
            {
              "name": "max",
              "value": "3"
            },
            {
              "name": "apikey",
              "value": "1b0eab859e55b5d4b0f70e0163921b51"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        0
      ],
      "id": "86bbee4a-f17f-4b8e-bd42-553435db7d64",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "004ba907-6b5a-4537-a18c-93dd5fb96d8f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Devuelve ÚNICAMENTE un JSON válido, sin texto adicional.\n\nIncluye todos los campos originales, un resumen breve y el análisis de sentimiento.\n\nEstructura exacta:\n\n{\n  \"titulo\": \"string\",\n  \"descripcion\": \"string\",\n  \"fuente\": \"string\",\n  \"fecha\": \"string\",\n  \"sentimiento\": \"POSITIVO | NEGATIVO | NEUTRO\"\n}\n\nDatos:\nTítulo: {{$json.title}}\nDescripción: {{$json.description}}\nFuente: {{$json.source.name}}\nFecha: {{$json.publishedAt}}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        656,
        0
      ],
      "id": "6ca4f157-1812-4262-afd5-dc236ed5b85e",
      "name": "Basic LLM Chain",
      "retryOnFail": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        160
      ],
      "id": "7dad5445-8190-421d-b839-1c0bf3a0243a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "R0aALtQyePJsYbD9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e966224-7544-40eb-a429-d5d3c9e0053d",
              "name": "sentimiento",
              "value": "={{ JSON.parse($json.text).sentimiento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        0
      ],
      "id": "e2da1af9-c867-48d1-8821-bfa845535005",
      "name": "Parsing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "61656cac-ac83-4f6e-9a98-5718d6527f8b",
              "leftValue": "={{$json.sentimiento}}",
              "rightValue": "NEGATIVO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1184,
        0
      ],
      "id": "0db73118-0c2f-4ba1-983a-45757a7471c1",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1392,
        96
      ],
      "id": "c1f0aaf1-6f8f-462e-84e2-c397f4d66f31",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Y9aNfTyJ-_TsrehrvOT5JLRLkMlLQ8Ri4JmkUJ9a1tw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y9aNfTyJ-_TsrehrvOT5JLRLkMlLQ8Ri4JmkUJ9a1tw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sentimiento": "={{ $json.sentimiento }}",
            "descripcion": "={{ $('Split Out').item.json.description }}",
            "fuente": "={{ $('Split Out').item.json.url }}",
            "fecha": "={{ $('Split Out').item.json.publishedAt }}",
            "titulo": "={{ $('Split Out').item.json.title }}"
          },
          "matchingColumns": [
            "titulo"
          ],
          "schema": [
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sentimiento",
              "displayName": "sentimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fuente",
              "displayName": "fuente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        -96
      ],
      "id": "3a303eb6-d01b-4029-94e5-ba59eb0998a7",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QKcWZPgN4uptLN2V",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parsing": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "acd9990a387a66c572994987ae101756c687c692ab41f4eda3f4b6b5a1a3091c"
  }
}